  <md-toolbar class="md-hue-2">
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedType">
      <md-tab label="Hollywood" ui-sref="movies({ movieType: 'hollywood' })">
        <div ui-view>
            <md-content class="md-padding">
                <md-input-container class="md-block">
                    <input ng-model="filterMovie" type="text">
                    <md-icon md-font-icon="fa fa-search"></md-icon>
                </md-input-container>
                <div ng-repeat= "movie in filteredMovies | filter: filterMovie">
                    <div class="movie-bar" style="background-color: {{ movie.movieColor }} !important; display: {{ movie.displayMovie }};">
                        <ul class="list-inline text-center">
                            <li class="col-xs-3 col-md-2">{{ movie.movieName }}</li>
                            <li class="col-xs-6">{{ movie.cast }}</li>
                            <li class="col-xs-2">{{ movie.releaseDate }}</li>
                            <li class="col-md-2" ng-if="movie.trailer">
                                <ul class="list-inline">
                                  <li class="text-center" ng-repeat="trailer in movie.trailer">
                                    <button class="btn btn-link" ng-click="open(trailer)">
                                        <img src="images/fonts/movie-trailer.svg" style="width: 20px; height: 20px;"/>
                                    </button>
                                  </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </md-content>
        </div>
      </md-tab>
      <md-tab label="Bollywood" ui-sref="movies({ movieType: 'bollywood' })">
        <div ui-view="bollywood">
            <md-content class="md-padding">
                <md-input-container class="md-block">
                    <input ng-model="filterMovie" type="text">
                    <md-icon md-font-icon="fa fa-search"></md-icon>
                </md-input-container>
                <div ng-repeat= "movie in filteredMovies | filter: filterMovie">
                    <div class="movie-bar" style="background-color: {{ movie.movieColor }} !important; display: {{ movie.displayMovie }};">
                        <ul class="list-inline text-center">
                            <li class="col-xs-3 col-md-2">{{ movie.movieName }}</li>
                            <li class="col-xs-6">{{ movie.cast }}</li>
                            <li class="col-xs-3">{{ movie.releaseDate }}</li>
                            <li class="" ng-if="movie.trailer">
                            <ul class="list-inline">
                                <li>
                                    <button type="submit" class="btn btn-link" style="color: white !important;" ng-click="open(movie)"><i class="fa fa-video-camera" aria-hidden="true"></i></button></li>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </md-content>
        </div>
      </md-tab>
    </md-tabs>
  </md-toolbar>
</div>