<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" class="alert-fade" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
<div class="row">
    <div class="col-xs-12">
        <md-button class="md-raised md-primary" ng-click="addCricketSeries()">
            <span ng-if="addNewSeries">
                Use Existing Series
            </span>
            <span ng-if="!addNewSeries">
                Create New Series
            </span>
        </md-button>
    </div>
</div>
<form>
    <table test1="" id="cricket-details" class="table table-condensed table-bordered">
        <thead>
            <tr class="cricket-head">
                <th class="col-xs-1">Remove</th>
                <th class="text-center col-xs-5">Series</th>
                <th class="col-xs-1">With</th>
                <th class="col-xs-1">Location</th>
                <th class="col-xs-1">Start Date</th>
                <th class="col-xs-1">End Date</th>
                <th class="col-xs-1"></th>
            </tr>
        </thead>
        <tbody>
             <tr>
                 <td><md-checkbox ng-model="deleteCricketLeague" aria-label="Checkbox 1"></md-checkbox></td>
                 <td ng-if="!deleteCricketLeague">
                   <md-input-container class="md-icon-float md-block">
                     <input ng-model="$parent.cricketLeague.series" type="text">
                   </md-input-container>
                 </td>
                 <td ng-if="deleteCricketLeague">
                    <md-select ng-model="$parent.cricketLeague.series_id" placeholder="None">
                        <md-option ng-repeat="series in seriesList" value="{{ series.sports_league_id }}">{{ series.description }}</md-option>
                    </md-select>
                 </td>
                 <td>
                    <md-select ng-model="cricketLeague.series_location" placeholder="None">
                        <md-option ng-repeat="team in teams" value="{{ team.country_geo_id }}">{{ team.description }}</md-option>
                    </md-select>
                 </td>
                 <td>
                    <md-select ng-model="cricketLeague.country_with" placeholder="None">
                        <md-option ng-repeat="team in teams" value="{{ team.country_geo_id }}">{{ team.description }}</md-option>
                    </md-select>
                 </td>
                 <td>
                    <md-datepicker ng-model="cricketLeague.series_from_date" md-placeholder="Enter date"></md-datepicker>
                 </td>
                 <td>
                    <md-datepicker ng-model="cricketLeague.series_to_date" md-placeholder="Enter date"></md-datepicker>
                 </td>
                 <td>
                    <md-button class="md-raised md-primary" ng-click="addRemoveCricketLeague(cricketLeague, deleteCricketLeague)">
                        <span ng-if="deleteCricketLeague">
                            Remove
                        </span>
                        <span ng-if="!deleteCricketLeague">
                            Create
                        </span>
                    </md-button>
                 </td>
             </tr>
        </tbody>
    </table>
</form>

<div class="row">
    <div class="col-xs-12 col-md-6">
        <md-button class="md-raised md-primary" ng-click="addNew()">Create New Record</md-button>
    </div>
    <div class="col-xs-12 col-md-6">
        <ul uib-pagination ng-model="currentPage" class="pull-right"
      total-items="cricketList.length"
      max-size="maxSize"
      boundary-links="true"></ul>
    </div>
</div>

<form>
    <table test1="" id="isrctable" class="table table-condensed table-bordered">
        <thead>
            <tr class="cricket-head">
                <th></th>
                <th class="col-xs-1 text-center">Team One ID</th>
                <th class="col-xs-1 text-center">Team Two ID</th>
                <th class="col-xs-2 text-center">Cricket Stadium</th>
                <th class="col-xs-1 text-center">City</th>
                <th class="col-xs-1 text-center">Country</th>
                <th class="col-xs-1 text-center">Match Number</th>
                <th class="col-xs-1 text-center">Match Type</th>
                <th class="col-xs-1 text-center">Series</th>
                <th class="col-xs-1 text-center">From Date</th>
                <th class="col-xs-1 text-center">To Date</th>
                <th class="col-xs-1 text-center">Time</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
             <tr ng-repeat="cricket in filteredCricketList | reverse">
                 <td><md-checkbox ng-model="cricket.isDelete" aria-label="Checkbox 1"></md-checkbox></td>
                 <td class="col-xs-1">
                     <md-select ng-model="cricket.team_one_geoId" placeholder="Australia">
                        <md-option ng-repeat="team in teams" value="{{ team.country_geo_id }}">{{ team.description }}</md-option>
                     </md-select>
                 </td>
                 <td class="col-xs-1">
                     <md-select ng-model="cricket.team_two_geoId" placeholder="India">
                        <md-option ng-repeat="team in teams" value="{{ team.country_geo_id }}">{{ team.description }}</md-option>
                     </md-select>
                 </td>
                 <td class="col-xs-2">
                   <md-input-container class="md-icon-float md-block">
                     <input aria-label="stadium" ng-model="cricket.stadium" type="text">
                   </md-input-container>
                 </td>
                 <td class="col-xs-1">
                   <md-input-container class="md-icon-float md-block">
                     <input aria-label="city" ng-model="cricket.city" type="text">
                   </md-input-container>
                 </td>
                 <td class="col-xs-1">
                     <md-select ng-model="cricket.country_geoId" placeholder="India">
                        <md-option ng-repeat="team in teams" value="{{ team.country_geo_id }}">{{ team.description }}</md-option>
                     </md-select>
                 </td>
                 <td class="col-xs-1">
                   <md-input-container class="md-icon-float md-block">
                     <input aria-label="match-number" ng-model="cricket.match_number" type="text">
                   </md-input-container>
                 </td>
                 <td class="col-xs-1">
                     <md-select ng-model="cricket.sports_child_type_id" placeholder="ODI">
                        <md-option ng-repeat="matchType in matchTypes" value="{{ matchType.sports_child_type_id }}">{{ matchType.description }}</md-option>
                     </md-select>
                 </td>
                 <td class="col-xs-1">
                    <md-select ng-model="cricket.series_id" placeholder="None">
                        <md-option ng-repeat="series in seriesList" value="{{ series.sports_league_id }}">{{ series.description }}</md-option>
                    </md-select>
                 </td>
                 <td class="col-xs-1">
                   <md-datepicker ng-model="cricket.match_from_date" md-placeholder="Enter date"></md-datepicker>
                 </td>
                 <td class="col-xs-1">
                    <md-datepicker ng-hide="cricket.sports_child_type_id == 'ODI' || cricket.sports_child_type_id == 'T20'" ng-model="cricket.match_to_date" md-placeholder="Enter date"></md-datepicker>
                 </td>
                 <td class="col-xs-1"><div uib-timepicker ng-model="cricket.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" show-spinners="false"></div></td>
                 <td>
                   <ul class="list-inline">
                     <li ng-if="cricket.addBtn" style="padding: 0;">
                       <button aria-label="create-cricket" type="submit" class="btn btn-link" ng-click="createCricket(cricket)">
                         <i class="fa fa-plus" aria-hidden="true"></i>
                       </button>
                     </li>
                     <li ng-if="!cricket.addBtn" style="padding: 0;">
                       <button aria-label="update-cricket" type="submit" class="btn btn-link" ng-click="updateCricket(cricket)">
                         <i class="fa fa-refresh" aria-hidden="true"></i>
                       </button>
                     </li>
                     <li ng-if="!cricket.addBtn" style="padding: 0;">
                       <button aria-label="remove-cricket" type="submit" class="btn btn-link" ng-click="removeCricket(cricket)">
                         <i class="fa fa-times" aria-hidden="true"></i>
                       </button>
                     </li>
                   </ul>
                 </td>
             </tr>
        </tbody>
    </table>
</form>