<div class="row">
    <div class="col-xs-12 col-md-6">
        <md-button class="md-raised md-primary" ng-click="addNew()">Create New</md-button>
    </div>
    <div class="col-xs-12 col-md-6">
        <ul uib-pagination ng-model="currentPage" class="pull-right"
      total-items="formula1.length"
      max-size="maxSize"
      boundary-links="true"></ul>
    </div>
</div>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" class="alert-fade" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
    <form>
        <table id="isrctable" class="table table-condensed table-bordered">
			<thead>
				<tr>
				    <th></th>
					<th>F1 ID</th>
					<th>F1 Practice ID</th>
					<th colspan="2">Circuit</th>
					<th>City / Type</th>
					<th>Country</th>
                    <th>Time</th>
                    <th>Date</th>
                    <th>Race Type</th>
                    <th>Image Path</th>
                    <th>Circuit Guide</th>
                    <th>Action</th>
				</tr>
			</thead>
			<tbody>
			     <tr ng-repeat="f1 in filteredformula1 | orderBy : '-result.id'">
			         <td><md-checkbox ng-model="f1.result.isDelete" aria-label="Checkbox 1"></md-checkbox></td>
			         <td class="text-center">
			           <span ng-if="!f1.addBtn">{{ f1.result.id }}</span>
			           <span ng-if="f1.addBtn && f1.result.type != 'MAINRACE'">
                         <md-select ng-model="f1.result.id" placeholder="1">
                            <md-option ng-repeat="form1 in formula1" ng-if="!form1.result.practiceId" value="{{ form1.result.id }}">{{ form1.result.id }}</md-option>
                         </md-select>
			           </span>
			           <span ng-if="f1.addBtn && f1.result.type == 'MAINRACE'">N/A</span>
					 </td>
                     <td>
                       <span ng-if="f1.result.type == 'MAINRACE'">N/A</span>
			           <span ng-if="f1.result.type != 'MAINRACE'" class="text-center">{{ f1.result.practiceId }}</span>
			         </td>
			         <td colspan="2">
                       <md-input-container class="md-icon-float md-block">
                         <input ng-model="f1.result.name" type="text"/>
                       </md-input-container>
			         </td>
			         <td>
			           <md-input-container class="md-icon-float md-block">
			             <input ng-disabled="f1.result.type != 'MAINRACE'" ng-model="f1.result.city" type="text">
			           </md-input-container>
					 </td>
			         <td>
                       <md-input-container class="md-icon-float md-block">
                         <input ng-disabled="f1.result.type != 'MAINRACE'" ng-model="f1.result.country" type="text"/>
                       </md-input-container>
			         </td>
			         <td><div uib-timepicker ng-model="f1.result.time" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian" show-spinners="false"></div></td>
			         <td>
                         <!-- <input type="text" class="form-control" ng-click="openDatePicker($event, f1)" uib-datepicker-popup="{{format}}" ng-model="f1.result.date"
                          is-open="f1.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="format" /> -->
                          <md-datepicker ng-model="f1.result.date" md-placeholder="Enter date"></md-datepicker>
                     </td>
                     <td>
					   <md-select ng-model="f1.result.type" placeholder="MAINRACE">
					     <md-option ng-repeat="raceType in raceTypes.result" value="{{ raceType.raceType }}" ng-selected="f1.result.type == raceType.raceType">{{ raceType.description }}</md-option>
					   </md-select>
					</td>
					<td>
					   <md-input-container class="md-icon-float md-block">
					       <input ng-disabled="f1.result.type != 'MAINRACE'" ng-model="f1.result.imagePath" type="text"/>
					   </md-input-container>
					</td>
                    <td>
                       <md-input-container class="md-icon-float md-block">
                           <input ng-disabled="f1.result.type != 'MAINRACE'" ng-model="f1.result.circuitGuide" type="text"/>
                       </md-input-container>
                    </td>
                     <td>
                       <ul class="list-inline">
                         <li ng-if="f1.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="createF1(f1.result)">
                             <i class="fa fa-plus" aria-hidden="true"></i>
                           </button>
                         </li>
                         <li ng-if="!f1.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="practice(f1.result)">
                             <i class="fa fa-refresh" aria-hidden="true"></i>
                           </button>
                         </li>
                         <li ng-if="!f1.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="removeF1(f1.result)">
                             <i class="fa fa-times" aria-hidden="true"></i>
                           </button>
                         </li>
                       </ul>
                     </td>
			     </tr>       
            </tbody>
		</table>
	</form>

