<div class="row">
    <div class="col-xs-12 col-md-6">
        <md-button class="md-raised md-primary" ng-click="addNew()">Create New</md-button>
    </div>
    <div class="col-xs-12 col-md-6">
        <ul uib-pagination ng-model="currentPage" class="pull-right"
      total-items="fantasyCricket.length"
      max-size="maxSize"
      boundary-links="true"></ul>
    </div>
</div>
<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type)" class="alert-fade" close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
        <table id="isrctable" class="table table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>ID</th>
                    <th>First Name*</th>
                    <th>Last Name*</th>
                    <th>Batting Rating*</th>
                    <th>Bowling Rating*</th>
                    <th>Batting Position*</th>
                    <th>Role*</th>
                    <th>Country*</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                 <tr ng-repeat="fc in filteredFantasyCricket | orderBy: '-'">
                     <td><md-checkbox ng-model="fc.result.isDelete" aria-label="Checkbox 1"></md-checkbox></td>
                     <td class="text-center">
                       <span ng-if="!fc.addBtn">{{ fc.fantasy_cricket_id }}</span>
                       <input type="hidden" ng-model="fc.fantasy_cricket_id"/>
                     </td>
                     <td>
                       <md-input-container class="md-icon-float md-block">
                         <input aria-label="firstName" ng-model="fc.firstName" type="text"/>
                       </md-input-container>
                     </td>
                     <td>
                       <md-input-container class="md-icon-float md-block">
                         <input aria-label="lastName" ng-model="fc.lastName" type="text"/>
                       </md-input-container>
                     </td>
                     <td>
                       <md-input-container class="md-icon-float md-block">
                         <input aria-label="rating" ng-model="fc.rating" type="text"/>
                       </md-input-container>
                     </td>
                     <td>
                       <md-input-container class="md-icon-float md-block">
                         <input aria-label="bowlingRating" ng-model="fc.bowlingRating" type="text"/>
                       </md-input-container>
                     </td>
                     <td>
                       <md-input-container class="md-icon-float md-block">
                         <input aria-label="battingPosition" ng-model="fc.battingPosition" type="text"/>
                       </md-input-container>
                     </td>
                     <td>
                        <md-select ng-model="fc.role" placeholder="Batsman">
                            <md-option value="batsman">Batsman</md-option>
                            <md-option value="wicketkeeper">Wicket Keeper</md-option>
                            <md-option value="all-rounder-spinner">All Rounder (Spinner)</md-option>
                            <md-option value="all-rounder-fast">All Rounder (Fast)</md-option>
                            <md-option value="spinner">Spinner</md-option>
                            <md-option value="bowler">Bowler</md-option>
                        </md-select>
                     </td>
                     <td>
                       <md-select ng-model="fc.countryGeoId" placeholder="India">
                         <md-option ng-repeat="country in countries" value="{{ country.country_geo_id }}" ng-selected="fc.country_geo_id == country.country_geo_id">{{ country.description }}</md-option>
                       </md-select>
                    </td>
                    <td>
                       <ul class="list-inline">
                         <li ng-if="fc.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="createFantasyRecord(fc)">
                             <i class="fa fa-plus" aria-hidden="true"></i>
                           </button>
                         </li>
                         <li ng-if="!fc.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="updateFantasyCricket(fc)">
                             <i class="fa fa-refresh" aria-hidden="true"></i>
                           </button>
                         </li>
                         <li ng-if="!fc.addBtn" style="padding: 0;">
                           <button type="submit" class="btn btn-link" ng-click="removeFantasyRecords(fc.fantasy_cricket_id)">
                             <i class="fa fa-times" aria-hidden="true"></i>
                           </button>
                         </li>
                       </ul>
                     </td>
                 </tr>
            </tbody>
        </table>

