<div class="row">
  <div class="col-xs-12 col-md-6">
    <md-button class="md-raised md-primary" ng-click="addNew()">Create
    New</md-button>
  </div>
  <div class="col-xs-12 col-md-6">
    <ul uib-pagination ng-model="currentPage" class="pull-right"
      total-items="movies.length" max-size="maxSize"
      boundary-links="true"></ul>
  </div>
</div>
<div style="z-index: 999;" uib-alert ng-repeat="alert in alerts"
  ng-class="'alert-' + (alert.type)" class="alert-fade"
  close="closeAlert($index)" dismiss-on-timeout="2000">{{alert.msg}}</div>
<form>
  <table test1="" id="movie-table"
    class="table table-condensed table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>ID</th>
        <th>Name</th>
        <th>Cast</th>
        <th>Release Date</th>
        <th>Trailer</th>
        <th>Movie Type</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="movie in filteredMovies"
        style="line-height: 50px;">
        <td class="text-center"><md-checkbox
            ng-model="movie.isDelete" aria-label="Checkbox 1"></md-checkbox></td>
        <td class="text-center col-xs-1"><md-input-container
            class="md-icon-float md-block"> <input
            aria-label="movieId" ng-model="movie.movieId" type="text"
            readonly="true" /> </md-input-container></td>
        <td class="text-center col-xs-2"><md-input-container
            class="md-icon-float md-block"> <input
            aria-label="movieName" ng-model="movie.movieName"
            type="text" required md-maxlength="254" /> </md-input-container></td>
        <td class="col-xs-5">
          <div class="chips-container" flex>
            <md-chips ng-model="movie.cast"
              md-transform-chip="addMultipleChips($chip, 'movies', movies.length)"></md-chips>
          </div>
        </td>
        <td><md-datepicker ng-model="movie.releaseDate"
            md-placeholder="Enter date"></md-datepicker></td>
        <td class="col-xs-3">
          <md-input-container
            class="md-icon-float md-block"> <input
            aria-label="trailer" type="text" ng-model="movie.trailer">
          </md-input-container>
        </td>
        <td class="col-xs-1"><md-select ng-model="movie.movieType"
            placeholder="Hollywood"> <md-option
            ng-repeat="movieType in movieTypes"
            value="{{ movieType.movie_type_id }}"
            ng-selected="movie.movieType == movieType.movie_type_id">{{
          movieType.description }}</md-option> </md-select></td>
        <td class="col-xs-1">
          <ul class="list-inline">
            <li ng-if="movie.addBtn">
              <button type="submit" class="btn btn-link"
                ng-click="setMovie(movie)">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </button>
            </li>
            <li ng-if="!movie.addBtn">
              <button type="submit" class="btn btn-link"
                ng-click="updateMovie(movie)">
                <i class="fa fa-refresh" aria-hidden="true"></i>
              </button>
            </li>
            <li ng-if="!movie.addBtn">
              <button type="submit" class="btn btn-link"
                ng-click="removeMovie(movie)">
                <i class="fa fa-times" aria-hidden="true"></i>
              </button>
            </li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
</form>

