<div class="row" style="margin-left: 10%; width: 80%;" ng-class="showMessageList ? 'display-block' : 'display-none'">
    <div class="col-xs-12" style="padding: 10px;">
        <ul class="list-inline pull-right">
            <li><button class="btn btn-primary" ng-click="getUserMessages()">Refresh</button></li>
            <li><button class="btn btn-primary" ng-click="removeUserMessage(selectedToDelete)">Delete</button></li>
        </ul>
    </div>
    <div class="col-xs-12" style="padding: 10px; padding-top: 0;">
        <input ng-model="messageFilter" type="text" class="form-control">
    </div>
    <div class="col-xs-12 mail-cards" ng-repeat="userMessage in userMessages | filter: messageFilter | orderBy: '-user_message_id'" ng-class="{'unread': userMessage.hasRead.length != 1}">
        <div class="col-md-1">
            <input type="checkbox" name="removeMessage" ng-click="setDeleteMessage(userMessage)"/>
        </div>
        <span ng-click="getMessageContent(userMessage)">
            <div class="col-md-3">
                <h4>{{ userMessage.userEmail }}</h4>
            </div>
            <div class="col-md-5">
                <h4>{{ userMessage.message }}</h4>
            </div>
            <div class="col-md-3">
                <ul class="list-inline text-center">
                    <li><h4>{{ userMessage.messageDateTime | date : "dd MMMM yy" }},</h4></li>
                    <li><h4>{{ userMessage.messageDateTime | date : "hh:mm" }}</h4></li>
                </ul>
            </div>
        </span>
    </div>
</div>
<div class="row" style="margin-left: 10%; width: 80%;" ng-class="showMessageList ? 'display-none' : 'display-block'">
    <div class="col-xs-12" style="padding: 10px;">
        <ul class="list-inline pull-right">
            <li><button class="btn btn-primary" ng-click="getUserMessages()">Back</button></li>
            <li><button class="btn btn-primary" ng-click="removeUserMessage(userMessage)">Delete</button></li>
        </ul>
    </div>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-xs-12 message-body">
            <h1>{{ userMessage.userEmail }}</h1>
            <h2><strong>Subject: </strong>{{ subject }}</h2>
            <p><strong>Message: </strong>{{ userMessage.message }}</p>
        </div>
        </div>
    </div>
</div>