<div ng-controller="cricketController">
  <div class="visible-md visible-lg container" style="margin-top: 55px; width: 100% !important; padding: 0 !important;">
    <ul class="list-inline cricket-menubar">
      <li ng-repeat="team in teams">
          <a ng-click="filterCricket(team.description)" class="btn" ng-class="{'cricket-bar-active': team.description == selectedTeam}" title="{{ team.description }}">
              <img ng-src="{{team.small_flag_path}}" style="width: 30px; height: 18px;"/>
          </a>
      </li>
    </ul>
  </div>
  <div class="hidden-md hidden-lg container" style="margin-top: 55px; padding-bottom: 20px; margin-bottom:0; width: 100% !important;">
    <h1>Sort By Team</h1>
    <div class="row cricket-menubar">
      <div class="col-xs-2 padding-0" ng-repeat="team in teams">
          <a ng-click="filterCricket(team.description)" class="btn" ng-class="{'active': team.description == selectedTeam}" title="{{ team.description }}">
              <img ng-src="{{team.small_flag_path}}" style="width: 30px; height: 18px;"/>
          </a>
      </div>
    </div>
  </div>
  <div class="container" style="padding-top: 30px;">
    <md-switch ng-model="released" ng-change="showAllCricket(cricketList)">
        <span class="font-bold">All Matches</span>
    </md-switch>
  </div>
  <div class="container hidden-xs hidden-sm">
      <div class="col-md-3">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h3 class="md-toolbar-tools sidenav-heading">
                <i class="fa fa-filter" style="color: white; padding: 5px;" aria-hidden="true"></i>
                Filters
                    <md-button ng-if="filterString" class="md-raised" style="margin-left:auto; margin-right:0;" ng-click="filterCricket('')">Clear</md-button>
                </h3>
            </md-toolbar>
            <md-content class="facet">
                <div ng-repeat="cricketLeague in cricketLeagues" style="border-bottom: 1px solid currentColor;">
                    <md-button class="dropdown" ng-class="dropdown_index == $index ? 'cricketBtn-active' : ''" style="margin: 0; padding:0; width:100%;" ng-click="expandDropdown(expanded, $index)">
                        {{ cricketLeague.country_description }} <span class="badge" style="color: black; background-color: #ffffff">{{ cricketLeague.sports_leagues.length }}</span>
                    </md-button>
                    <ul class="list-unstyled" ng-class="{'hide-sidenav-dropdown' : dropdown_index == $parent.$index, 'show-sidenav-dropdown' :  dropdown_index != $parent.$index}" ng-repeat="sportsLeagues in cricketLeague.sports_leagues">
                        <li>
                        <md-button ng-class="{'bg-white' : filterString == sportsLeagues.description}" style="margin: 0; padding:0; width:100%;" ng-click="filterCricket(sportsLeagues.description)">
                                {{ sportsLeagues.description }}
                            </md-button>
                        </li>
                    </ul>
                </div>
            </md-content>
        </md-sidenav>
      </div>
      <div class="col-md-9 hidden-xs hidden-sm" ng-include="'/final/desktop/desktopCricket.html'"></div>
    </div>
    <div class="visible-xs visible-sm" ng-include="'/final/mobile/mobileCricket.html'"></div>
</div>
