<div class="container" ng-controller="formula1Controller" style="padding-top: 100px;">

    <!-- Formula 1 Next Event -->
    <h1>Upcoming Formula 1 Event:</h1>
    <div class="row" style="border-bottom: 2px solid #efefef; padding-bottom: 20px;">
      <div class="col-xs-12 col-lg-6">
        <iframe width="100%" height="375" ng-src="{{trustCircuitGuide(nextEvent.mainRace.circuitGuide)}}" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-xs-12 col-lg-6">
        <md-card style="height: 375px; margin:0; width:100%;">
          <img ng-src="{{nextEvent.mainRace.imagePath}}" class="md-card-image" alt="Washed Out" style="width: 100%; height: 180px;">
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline" style="font-size: 20px;">
                <ul class="list-inline">
                  <li class="f1-heading">{{ nextEvent.mainRace.name }}, {{ nextEvent.mainRace.city }}, {{ nextEvent.mainRace.country }}</li>
                </ul>
              </span>
              <span class="f1-date-time">On {{ nextEvent.mainRace.date }} at {{ nextEvent.mainRace.time | date:'HH:MM a' }}</span>
            </md-card-title-text>
          </md-card-title>
          <md-card-content ng-show="nextEvent.expanded" class="animate-hide" style="width: inherit;">
            <div class="f1-practice-block">
              <div class="text-center">
                <ul class="list-inline">
                  <li class="f1-practice"><label>First Practice - </label>{{ nextEvent.FIRSTPRACTICE.name }}</li>
                  <li class="f1-practice">{{ nextEvent.FIRSTPRACTICE.date }}</li>
                  <li class="f1-practice">{{ nextEvent.FIRSTPRACTICE.time | date:'HH:MM a' }}</li>
                </ul>
              </div>
              <div class="text-center">
                <ul class="list-inline">
                  <li class="f1-practice"><label>Second Practice - </label>{{ nextEvent.SECONDPRACTICE.name }}</li>
                  <li class="f1-practice">{{ nextEvent.SECONDPRACTICE.date }}</li>
                  <li class="f1-practice">{{ nextEvent.SECONDPRACTICE.time }}</li>
                </ul>
              </div>
              <div class="text-center">
                <ul class="list-inline">
                  <li class="f1-practice"><label>Third Practice - </label>{{ nextEvent.THIRDPRACTICE.name }}</li>
                  <li class="f1-practice">{{ nextEvent.THIRDPRACTICE.date }}</li>
                  <li class="f1-practice">{{ nextEvent.THIRDPRACTICE.time }}</li>
                </ul>
              </div>
              <div class="text-center">
                <ul class="list-inline">
                  <li class="f1-practice"><label>Qualification - </label>{{ nextEvent.QUALIFYING.name }}</li>
                  <li class="f1-practice">{{ nextEvent.QUALIFYING.date }}</li>
                  <li class="f1-practice">{{ nextEvent.QUALIFYING.time }}</li>
                </ul>
              </div>
            </div>
          </md-card-content>
          <md-card-actions layout="row" layout-align="center" ng-click="nextEvent.expanded = !nextEvent.expanded">
            <md-button class="md-icon-button"><i ng-class="nextEvent.expanded ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" aria-hidden="true"></i></md-button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

    <!-- Formula 1 All Events -->
    <h1 style="padding-top: 20px;">Formula 1 Events:</h1>
    <div class="row">
    <span ng-repeat="f1 in formula1 | orderBy: '-sortTime'" class="col-xs-12 col-md-4">
      <md-card style="height: 375px; margin:0; margin-bottom:20px; width:100%;">
        <img ng-src="{{f1.mainRace.imagePath}}" class="md-card-image" alt="Washed Out" style="width: 100%; height: 200px;">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" style="font-size: 20px;">
              <div class="f1-heading">{{ f1.mainRace.name }}, {{ f1.mainRace.city }}, {{ f1.mainRace.country }}</div>
            </span>
            <span class="f1-date-time">On {{ f1.mainRace.date }} at {{ f1.mainRace.time | date:'HH:MM a' }}</span>
            <span ng-if="f1.isFinished" class="label label-danger">Event Finished</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content ng-show="f1.expanded" class="animate-hide" style="width:100%;">
          <div class="f1-practice-block">
            <div class="text-center">
              <ul class="list-inline">
                <li class="f1-practice">{{ f1.FIRSTPRACTICE.name }}</li>
                <li class="f1-practice">{{ f1.FIRSTPRACTICE.date }}</li>
                <li class="f1-practice">{{ f1.FIRSTPRACTICE.time | date:'HH:MM a' }}</li>
              </ul>
            </div>
            <div class="text-center">
              <ul class="list-inline">
                <li class="f1-practice">{{ f1.SECONDPRACTICE.name }}</li>
                <li class="f1-practice">{{ f1.SECONDPRACTICE.date }}</li>
                <li class="f1-practice">{{ f1.SECONDPRACTICE.time }}</li>
              </ul>
            </div>
            <div class="text-center">
              <ul class="list-inline">
                <li class="f1-practice">{{ f1.THIRDPRACTICE.name }}</li>
                <li class="f1-practice">{{ f1.THIRDPRACTICE.date }}</li>
                <li class="f1-practice">{{ f1.THIRDPRACTICE.time }}</li>
              </ul>
            </div>
            <div class="text-center">
              <ul class="list-inline">
                <li class="f1-practice">{{ f1.QUALIFYING.name }}</li>
                <li class="f1-practice">{{ f1.QUALIFYING.date }}</li>
                <li class="f1-practice">{{ f1.QUALIFYING.time }}</li>
              </ul>
            </div>
          </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="center" ng-click="f1.expanded = !f1.expanded">
                <md-button class="md-icon-button"><i ng-class="f1.expanded ? 'fa fa-chevron-down' : 'fa fa-chevron-up'" aria-hidden="true"></i></md-button>
        </md-card-actions>
        </div>
      </md-card>
    </span>
    </div>
