<div class="row fantasy-rating-bar" style="border-bottom: 1px solid #e7e7e7;">
  <div class="container">
    <div class="col-xs-9 col-lg-6 text-center" style="padding-top: 10px;" ng-if="!tossPreference">
      <span>
        <strong>Current Combined Rating : {{ rating }}</strong>
      </span>
    </div>
    <div class="col-xs-3 text-right" ng-if="!tossPreference">
      <button type="button" class="btn btn-primary" ng-click="playCricket(userEleven, computerPlayers, playingAgainst)">Let's Play!</button>
    </div>
    <div class="col-lg-3 text-center" style="padding-top: 10px;" ng-if="tossPreference">
      <span>
        <strong>Current Combined Rating : {{ rating }}</strong>
      </span>
    </div>
    <div class="col-xs-12 col-lg-9" ng-if="tossPreference">
      <div class="col-xs-12 col-lg-8 text-center" style="padding-top: 10px;">
        <strong>{{ tossMessage }}</strong>
      </div>
      <div class="col-xs-6 col-lg-2" ng-if="wonBy == 'user' && !team1">
        <button type="button" class="btn btn-primary btn-block" ng-click="playCricket(userEleven, computerPlayers, playingAgainst,'bat')">Bat</button>
      </div>
      <div class="col-xs-6 col-lg-2" ng-if="wonBy == 'user' && !team1">
        <button type="button" class="btn btn-primary btn-block" ng-click="playCricket(userEleven, computerPlayers, playingAgainst, 'bowl')">Bowl</button>
      </div>
      <div class="col-xs-12 col-lg-4 text-center" ng-if="wonBy == 'computer' && !team1">
        <button type="button" class="btn btn-primary" ng-click="playCricket(userEleven, computerPlayers, playingAgainst, 'bat')">Let's Play!</button>
      </div>
      <div class="col-xs-12 col-lg-4 text-center" ng-if="team1">
        <button type="button" class="btn btn-primary" ng-click="playCricket(userEleven, computerPlayers, playingAgainst)">Let's Play Again!</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row" ng-if="ratingExceedAlert">
    <div class="alert alert-danger alert-dismissible" style="top: auto; position: absolute; width: min-content;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <strong>Danger!</strong> Your combined players ratings can't exceed 100
    </div>
  </div>
  <div class="row" ng-if="errorMessage">
    <div class="alert alert-danger alert-dismissible" style="z-index:999;">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="hideError()"><span aria-hidden="true">&times;</span></button>
      {{ errorMessage }}
    </div>
  </div>
</div>
<div class="container" style="padding-top: 150px; padding-bottom: 50px;">
    <div class="hidden-xs hidden-sm" ng-include="'/final/desktop/FantasyCricketDesktop.html'"></div>
    <div class="visible-xs visible-sm" ng-include="'/final/mobile/FantasyCricketMobile.html'"></div>
</div>